@{
    ViewBag.Title = "Home Page";
}
<h1>Hello</h1>
<div >
    <form action="/Form/FormOne" method="post" title="Register">
        <div>Name : <input type="text" name="Name" /></div>
        <div>Email : <input type="email" name="Email" /></div>
    </form>
</div>